<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ElasticSearchNode" value="http://localhost:9200"/>
  </appSettings>
  <connectionStrings>
    <add name="WriteConStr" connectionString="data source=source;initial catalog=Db;integrated security=True;MultipleActiveResultSets=True;" />
    <add name="ReadConStr" connectionString="data source=source;initial catalog=Db;integrated security=True;MultipleActiveResultSets=True;" />
    <add name="LogDbConStr" connectionString="data source=source;initial catalog=Db;integrated security=True;MultipleActiveResultSets=True;" />
  </connectionStrings>
</configuration>